In [1]:
import pandas as pd 
import numpy as np

In [2]:
exmaple = pd.DataFrame({
    'group':['t', 'c', 't', 'c', 't', 'c'],
    'covariate':[1500, 1300, 1600, 1400, 1200, 1000],
    'metric': [1700, 1200, 2000, 1500, 1200, 1100]
})

In [3]:
thetta = np.cov(exmaple['metric'], exmaple['covariate'])[0][1] / np.var(exmaple['covariate'])

In [4]:
thetta

1.7999999999999998

In [5]:
exmaple['cuped'] = exmaple['metric'] - exmaple['covariate'] - exmaple['covariate'].mean() * thetta

In [6]:
exmaple.groupby('group').cuped.mean()

group
c   -2366.666667
t   -2200.000000
Name: cuped, dtype: float64

In [7]:
df = pd.read_csv('cuped_example.csv')

In [8]:
df

      group  covariate  metric
0      test       1500    1700
1   control       1300    1200
2      test       1600    2000
3   control       1400    1500
4      test       1200    1200
5   control       1000    1100
6      test       1500    2000
7   control       1300    1500
8      test       1600    1200
9   control       1400    1100
10     test       1200    1200
11  control       1000    1000

In [9]:
df_2 = np.cov(df['metric'], df['covariate'])[0][1] / np.var(df['covariate'])

In [10]:
df_2

1.246753246753247